#libroEditore{
			margin: 0 auto;
			height: 300px;
			width: 750px;
		}

		#barMenu {
			border-bottom: none;
			padding: 10px;
			background-color: rgba(40, 200, 145, 0.5);
			color: white;
			border-radius: 8px 8px 0px 0px;
		}

		#editore {
			border: 2px solid rgba(30, 50, 141, 1);
			height: 100%;
			width: 100%;
		}

		#editoreFrame {
			height: 100%;
			width: 100%;
		}

		#barMenu > button {
			color: black;
			border: none;
			outline: none;
			background-color: transparent;
			cursor: pointer;
		}

		#barMenu > button:hover {
			color: white;
			background-color: rgba(14, 87, 243, 0.3);
			transition: all 0.3s linear 0s;
		}

		.colorInMenu{
			border: none;
			outline: none;
			background-color: transparent;
		}